<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>My team</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="https://storage.kun.uz/source/8/XZNDK0rXaBBYf9zwBk0doDZ_05C9UZm_.jpg" class="card-img-top" alt="..." width="500px" >
            <div class="card-body">
              <h5 class="card-title">Абдуҳалимова Зуҳра Шукрулло қизи</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://storage.kun.uz/source/7/0LmXAD63I_GFQxnW9Pq5QvZo7eCI0WN_.jpg" class="card-img-top" alt="..." width="500px">
            <div class="card-body">
              <h5 class="card-title">Абсаттаров Фаррух Рустамбек ўғли</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://storage.kun.uz/source/4/ZeXR8Yilj5i5WrDak4YA0jrlG7QuGf5q.jpg" class="card-img-top" alt="..." width="500px">
            <div class="card-body">
              <h5 class="card-title">Зоҳидов Аброр Олимович</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://storage.kun.uz/source/7/bz9rZI0Sk3BBJHYpoZP1Dx29wJNDppuj.jpg" class="card-img-top" alt="..." width="500px">
            <div class="card-body">
              <h5 class="card-title">Очилова Мадина Баҳодир қизи</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endblock content %}
</body>
</html>