<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Reklama</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <div class="containeru">
        <h1>Reklama</h1>
        <p>Qo'ng'iroq qiling</p>
        <a href="tel:+998 78 113 10 10">+998 78 113 10 10</a>
        <p></p>
        <p>Реклама билан боғлиқ исталган саволларни <a href="https://t.me/bobobadalov">Telagram</a>  манзилига юборишингиз мумкин.</p>
        
    </div>


    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endblock content %}
</body>
</html>